body {
    background-image: url("https://i.ibb.co/zfcrsXY/badbun.jpg");
}

.bunImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    border-radius: 30px;
    width: 500px;
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
}

.container {
    position: relative;
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #C94CA8;
    border-radius: 25px;
    opacity: .8;
}

.container i {
    margin-top: 10px;
    color: #333;
    border-radius: 25px;
}

.container span {
    width: 100%;
    height: 100%;
    background: #efefef;
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
    border-radius: 25px;
    opacity: .1;
}

.container div {
    position: relative;
    width: auto;
    background: #0A0032;
    color: #555;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: 0;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0.5);
    transition: all 0.5s eases;
}


input [type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.badBun {
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 5s linear infinite;
}

span :checked {
    background: #000;
}


@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.spanishBunHeadline {
    background-color: #C94CA8;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 15px 200px 15px 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .9;
}

h3 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 60px;
}

.spanishBunParagraph {
    background-color: #C94CA8;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 15px 200px 15px 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    opacity: .9;
}

h4 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 30px;
    font-weight: lighter;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

.carousel-inner.item {
    height: 500px;
    width: auto;
}

.item {
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
}

.album {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-caption {
    color: #fd7cf7;
}